{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>{{ controller_name|raw }}</h2>

    <h4>Check result in profiler : <a href="/_profiler/latest?type=request&panel=time" target="_blank">Performance panel</a></h4>

    Test <code>request</code> method
    <ul>
        <li>Test with default http client : <a href="{{ url(name = 'app_home') }}">{{ url(name = 'app_home') }}</a></li>
        <li>Test CachingHttpClient with Store : <a href="{{ url(name = 'app_test_cache_store') }}">{{ url(name = 'app_test_cache_store') }}</a></li>
        <li>Test CachingHttpClient with TagAwareAdapter (need to use code on PR <a href="https://github.com/symfony/symfony/pull/59576">59576</a>): <a href="{{ url(name = 'app_test_cache_tag_aware') }}">{{ url(name = 'app_test_cache_tag_aware') }}</a></li>
    </ul>

    Test <code>stream</code> method
    <ul>
        <li>Test with default http client : <a href="{{ url(name = 'app_home', parameters = {stream: 1}) }}">{{ url(name = 'app_home', parameters = {stream: 1}) }}</a></li>
        <li>Test CachingHttpClient with Store : <a href="{{ url(name = 'app_test_cache_store', parameters = {stream: 1}) }}">{{ url(name = 'app_test_cache_store', parameters = {stream: 1}) }}</a></li>
        <li>Test CachingHttpClient with TagAwareAdapter (need to use code on PR <a href="https://github.com/symfony/symfony/pull/59576">59576</a>): <a href="{{ url(name = 'app_test_cache_tag_aware', parameters = {stream: 1}) }}">{{ url(name = 'app_test_cache_tag_aware', parameters = {stream: 1}) }}</a></li>
    </ul>
</div>
{% endblock %}
